<%- include('./partials/header.ejs') %>

<h1>Home Page</h1>

<section style= "max-width: 1000px; overflow-x: scroll; : center; margin-left: 15%;">

  <div class="contain" style= "">
    <ul>
      <% for (let i = 0; i < films.length; i++) { %>

        <div class="card" style="width: 18rem; text-align: center ;display: flex; margin: 5px;">
          <a href="/home/<%= films[i]._id %>"><img src="<%=films[i].img%>" class="card-img-top" alt="image"></a>
          <div class="card-body">
            <h5 class="card-title"><a href="/home/<%= films[i]._id %>"><%=films[i].name%></a></h5>
            <p class="card-text" style=" overflow-x: scroll; max-height: 100px;"><strong>Synopsis:</strong> <%=films[i].synopsis%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style=" overflow-x: scroll; max-height: 100px;"><strong>Personal Review:</strong> <%=films[i].personalReview%></li>
            <li class="list-group-item"><strong>Duration Of Film:</strong> <%=films[i].durationOfFilm%></li>
            <li class="list-group-item"><strong>Streamable On:</strong> <%=films[i].streamableOn%></li>
          </ul>
          <div class="card-body">
            <a href="<%=films[i].trailer%>" class="card-link">Trailer of <%=films[i].name%></a>
          </div>
        </div>

          <% } %>
    </ul>
  </div>

</section>
  <!-- <a href="/home/new">Add a new Horror Film</a> -->

<%- include('./partials/footer.ejs') %>
